*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: cyan;
}

h1{
  text-align: center;
  margin-top: 35px;
}

.container{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;
}

.container:after{
  clear: both;
  content: "";
  display: cover;
}


.card{
  width: 200px;
  height: 240px;
  background-image: url("img/pattern.png");
  background-size: contain;
  float: left;
  margin-right: 20px;
  margin-top: 40px;
  border: 1px solid black;
  position: relative;
}

.row-3{
  padding-top: 100px;
  margin-bottom: 100px;
}

div[class^="bg":hover]{
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}


{
  background-image: url("img/card-1.png");
}
